body{
    background: BLACK;
}
span
{
  color: white;
  margin-top: 50px;
}
.particles-js-canvas-el {
height: 100vmax !important;
z-index: 0;
}
#button_goal
{
 position: relative;
 top: 300px;
 bottom: 0px;
 right: 0px;
 left: 600px;
}
#button_interest
{
 position: relative;
 top: 350px;
 bottom: 0px;
 right: 0px;
 left: 600px;
}
#button_achieved
{
 position: relative;
 top: 400px;
 bottom: 0px;
 right: 0px;
 left: 600px;
}
#particles-js
{
 position: absolute;
 height: 150%;
 width: 100%;
}
.jumbotron
{
 margin-top: 100px;
}
#fundamental
{
 text-align:center;
 margin-top: 50px;
}
h1
{
 color:#7ec9ec;
}
.text-center {
    text-align: center;
    background-color: #2f89fc;
}
