body{
    background: BLACK;
}
span
{
  color: white;
}
#button_goal
{
 position: relative;
 top: 300px;
 bottom: 0px;
 right: 0px;
 left: 600px;
}
#button_interest
{
 position: relative;
 top: 350px;
 bottom: 0px;
 right: 0px;
 left: 600px;
}
#button_interest
{
 position: relative;
 top: 400px;
 bottom: 0px;
 right: 0px;
 left: 600px;
}
